.yaportal_container {
    display: flex;
    flex-direction: column;
}

.yaportal_topPanel {
    grid-column: span 3;
    padding: 0.5em;
}

.yaportal_centerPanel {
    flex: 1;
    padding: 0.5em;
}

.yaportal_rightPanel {
    padding: 0.5em;
}
 
.yaportal_leftPanel {
    padding: 0.5em;
}

.yaportal_bottomPanel {
    grid-column: span 3;
    padding: 0.5em;
}

@media (max-device-width: 767px) {
    .yaportal_topPanel {
        order: 0;
    }
    .yaportal_rightPanel {
        order: 2;
    }
    .yaportal_centerPanel {
        order: 1;
    }
    .yaportal_leftPanel {
        order: 3;
    }
    .yaportal_bottomPanel {
        order: 4;
    }
}

@media (min-width: 768px) {
    .yaportal_container {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }
}

/* Gallery CSS */
@media (min-width: 1100px) {
    .elk_gallery_gridLayout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px 10px;
        display: -ms-grid;
        ms-grid-columns: 1fr 1fr 1fr;
    }
}

@media (max-device-width: 1099px) {
    .elk_gallery_gridLayout {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px 5px;
        display: -ms-grid;
        ms-grid-columns: 1fr;
    }
}

.elk_gallery_gridLayout span.views_text {
    font-size: .600em;
}
